body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 600px;
  margin: 20px auto;
  background-color: #424769;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.h1 {
  color: white;
}

h2 {
  color: white;
}

.todo-item {
  background-color: #4a55a2;
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-right: 10px;
}

button {
  background-color: #4a55a2;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.deletebtn {
  background-color: red;
}

.add-todo-container {
  margin-bottom: 20px;
  display: flex;
}

input[type='text'] {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .app {
    padding: 10px;
  }
}